
<%- include("header") %>
    <div class="formData">
        <form class="form" action="/" method="post">
            <input type="text" name="place" placeholder="Enter the city">
            <button class="btn">SEARCH</button>
        </form>
    </div>

    <%- include("footer") %>